.bg-tom1{
    background-image: url(../images/tom1.png);
}

.bg-tom2{
    background-image: url(../images/tom2.png);
}
.bg-tom3{
    background-image: url(../images/tom3.png);
}
.bg-tom4{
    background-image: url(../images/tom4.png);
}
.bg-kick{
    background-image: url(../images/kick.png);
}

.bg-crash{
    background-image: url(../images/crash.png)
}
.bg-snare{
    background-image: url(../images/snare.png)
}