.nav-container{

    display: flex;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    top:0.25rem;
    height: 2.5rem;
    width:100%;
    background-color: rgb(195, 195, 195);
    border-radius: 1rem;
    opacity: 0.5;
    .img-container{
        height: 100%;
        width: 2.5rem;
        display: flex;
        align-items: center;
        img{
            object-position: center;
            object-fit:cover;
            
        }

    }

    .navs{
        display: flex;
        width: 100%;
        justify-content: space-around;
        li{
            letter-spacing: 0.1rem;
            margin-right: 1rem;
        }
    }
}